/*=====================================
===== Настольная версия ===============
=======================================*/




/*=====================================
=====отключение мобильных классов =====*/
.adapt__bckg__mob{
    display: flex;
    display: none;
}
.header__mob{
    display: none;
}
.margin__bottom{
    display: none;/*---удалить потом---*/
}
/*======================================
===== Переменные =======================*/
:root {
    /*---RGB*---*/
    --main-color: #000000;
    --background-mask: rgb(204, 204, 204);
    --background-box: rgb(255, 255, 255);
    --border-box: 0px solid rgb(255, 255, 255);
    /*---Picsel---*/
    --border-radius: 10px;
    --animation-second: 0.5s;
    --small__project__box__size: 260px;
    --small__project__box__size__img__heigth: 230px;
    --margin__default: 20px;
     /*---MOB*---*/
}
/*============================================
===== Bckg__desktop ==========================*/
.adapt__bckg__desktop{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
}
.bckg__intro__img__desktop{
    position: absolute;
    width: 100%;
    object-fit: cover;
}
.container{
    position: relative;
    max-width : 1240px;
    margin: 0 auto;
}
/*==============================================
===== Тело страницы__mob =======================*/
body{ 
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: var(--main-color);
    margin: 0px;
    display: flex;
    justify-content: center;
}
*{
    box-sizing: border-box;
}
/*===========================================
===== Header ================================*/
.header{
}
.header__desktop{
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 49px;
    width: 100%;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 5px 40px 5px 40px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    position: relative;
    display: flex;
    align-items: center;
}
.logo__img{
    width: 70px;
    height: 30px;
}
.header__nav{
    display: flex;
    justify-content:space-between;
    height: 39px;
    width: 500px;
}
.header__nav__link{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    transition: background-color var(--animation-second);
    border-radius: 10px;
}
.header__nav__link:hover {
    background-color: var(--background-mask);   
}
/*===========================================
===== Intro =================================*/
.intro{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
}
.intro__1{
   display: none;
}
.intro__1{
    display: none;
}
h1{
    font-size: 20px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 20px;
}
h2{
    font-size: 20px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 100px;
}
/*======================================
===== Progect ==========================*/
.project__nav{
    display:flex;
    flex-wrap: wrap;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 20px;
    border-radius: var(--border-radius);
}
.small__project__box{
    position: relative;
    width: var(--small__project__box__size);
    height: var(--small__project__box__size);
    margin: var(--margin__default);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.box__image__desktop{
    position: relative;
    width: var(--small__project__box__size);
    height: var(--small__project__box__size__img__heigth);
    transition: margin var(--animation-second) linear;
}
.img__pr_desktop{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s linear;
}
.box__info{
    width: 100%;
    height: 290px;
    background-color: var(--background-mask);
}
.box__name{
    position: relative;
    width: 260px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.box__description{
    margin: 10px;
}
.small__project__box:hover .box__image__desktop{
    margin-top: -230px;
}
.small__project__box:hover .img__pr_desktop{
    opacity: 0;
}
/*======================================
===== Creater ==========================*/
.creator{
    position:  relative;
    display:flex;
    flex-wrap: wrap;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 20px;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.photo{
    position: relative;
    width: 260px;
    height: 260px;
    margin: 20px;
    border-radius: 130px;
    overflow: hidden;
}
.img__creator{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cretor__info{
    position:  relative;
    width: 860px;
    margin: 20px;
}
.cretor__info__text{
    color: var(--main-color);
    font-size: 44px;
    font-family: Raleway, sans-serif;
}
.creator__icongroup{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    height: 78px;
    margin: 4px;
    padding: 4px;
}
.creator__box__icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;  
    border-radius: 42px;
    transition: background-color var(--animation-second);
}
.creator__icon{
    position: relative;
    width: 64px;
    height: 64px;
}
.creator__box__icon:hover {
    background-color: var(--background-mask);
}
/*=========================================
===== Footer ==============================*/

/*=========================================
===== Удалить после завершения работы =====*/
.warning{
    display: none;
    font-size: 20px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
/*=========================================
====== Для планшетов ======================
===========================================*/
@media (max-width:1280px) {
    .container{
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }
}



/*==========================================
===== Для мобильных устройств ==============
============================================*/




            /* ##### Заметки: 
            --Условия: 
            1: Обязательная установка
             "display: flex;" для всех div   
            которые содержат в себе Paralax 
            собранный мной на CSS.
            2: Не работает с "Overflow: hidden" ----*/
@media (max-width:767px) {
/*=========================================
===== Отключение desktop class ============*/
.adapt__bckg__desktop{
    display: none;
}
.header__desktop{
    display: none;
}
.box__image__desktop{
    display: none;
}
/*======================================
===== Переменные =======================*/
:root{
         /*\/ Изменяемые переменные которые можно трогать =======================*/
        --header-widgth: calc(var(--vw-100) - (var(--header-btn__margin__mob) * 2));

        --header-btn-height__mob: calc(0.1 * var(--vw-100)); /*
         /\высота всей шапки без margin */
         --intro-name_menu_heightAndMargin__0__mob: calc(0.12 * var(--vw-100)); /*
         /\сумма высоты шапки из высобы кнопок и одного margin с верху */
         --intro-name_menu_heightAndMargin__mob: calc(0.14 * var(--vw-100)); /*
         /\сумма высоты всей шапки из высобы кнопок и двух margin с верху и снизу */
        --header-btn__menu__width__mob: calc(0.7 * var(--vw-100));
        --header-btn__brdr__rds__mob: calc(0.5 * var(--header-btn-height__mob));
        --header-btn__margin__mob: calc(0.02 * var(--vw-100));/*
        /\margin шапки */




        /*\/ Шрифт =======================*/
        --font-size__default: calc(0.034 * var(--vw-100));
        --line-height__default: calc(0.051 * var(--vw-100));
        --font-size__h1: calc(0.04 * var(--vw-100));
        --line-height__h1: calc(0.06 * var(--vw-100));
        --font-size__header__btn: calc(0.043 * var(--vw-100));



        --mar-stop: 0px ;/*
        /\расстояние остановки всего изображения паралакса от верха экрана--*/
        --mar-main: var(--stop-7);/*
        /\расстояние от верха экрана до изображения паралакса --*/
        /*\/ == Переменные которые не надо трогать 
        они подстраиваются автоматически 
        относительно Изменяемых переменных */
        --vw-100: 100vw;
        --vw-5:calc(0.05 * var(--vw-100));
        --vw-10:calc(0.10 * var(--vw-100));
        --vw-25_5: calc(0.225 * var(--vw-100)); /* 
            /\расстояние между сегментами изображения
            так же используестся как высота сегмента №10 */
        --vw-25: calc(0.25 * var(--vw-100)); /*
            /\высота сегментов 1-9
            /\высота сегмента и расстояние меджу сегментами разные 
            для осуществления наложения одинаковых участков 
            для отсутствия разрыва при смещении и изменении
            высоты области простмотра "body" */
        --stop-1: var(--mar-stop);
        --stop-2: calc(1 * var(--vw-25_5) + var(--mar-stop));
        --stop-3: calc(2 * var(--vw-25_5) + var(--mar-stop));
        --stop-4: calc(3 * var(--vw-25_5) + var(--mar-stop));
        --stop-5: calc(4 * var(--vw-25_5) + var(--mar-stop));
        --stop-6: calc(5 * var(--vw-25_5) + var(--mar-stop));
        --stop-7: calc(6 * var(--vw-25_5) + var(--mar-stop));
        --stop-8: calc(7 * var(--vw-25_5) + var(--mar-stop));
        --stop-9: calc(8 * var(--vw-25_5) + var(--mar-stop));
        --stop-10: calc(9 * var(--vw-25_5) + var(--mar-stop));
    }
/*==============================================
===== Тело страницы__mob =======================*/
html{
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.body{ 
    width: var(--vw-100);
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: Raleway, sans-serif;
    font-size: var(--font-size);
    line-height: var(--font-size);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    
}
.container{
    width: var(--vw-100);
    display: flex;
    flex-direction: column;
    
}
.mine{
    display: flex;
    flex-direction: column;
}
/*=========================================
===== Bckg__mob ===========================*/
.adapt__bckg__mob{
    display: inline;
    display: flex;
}
.bckg__intro__mob{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: -1000;
}
.bckg__intro__img__mob{
    position: absolute;
    width: 100%;
    object-fit: cover;
}
.bckg__pr__1__img__1{
    display: flex; 
}
/*================================================
====== Paralax__pr__1__par__1__mob ===============*/
.par__sgm__1{
    position: sticky; /*
        /\должна быть установлена в позиции sticky обязательно---*/  
    height: 0px; /* 
    должна быть определена обязательно---*/
    margin-top: var(--mar-main);/*
        /\расстояние от top до места где должен сработать паралакс на странице*/
    top: var(--stop-1); /*
        /\фиксирующая позиция (своя для каждого сегмента) */
    z-index: -999;
}
.sgm__1{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
.par__sgm__2{
    position: sticky; 
    height: 0px; 
    margin-top: var(--mar-main);
    top: var(--stop-2); 
    z-index: -998;
}
.sgm__2{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
.par__sgm__3{
    position: sticky; 
    height: 0px; 
    margin-top: var(--mar-main);
    top: var(--stop-3); 
    z-index: -997;
}
.sgm__3{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
.par__sgm__4{
    position: sticky; 
    height: 0px; 
    margin-top: var(--mar-main);
    top: var(--stop-4); 
    z-index: -996;
}
.sgm__4{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
.par__sgm__5{
    position: sticky;  
    height: 0px; 
    margin-top: var(--mar-main);
    top: var(--stop-5); 
    z-index: -995;
}
.sgm__5{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
.par__sgm__6{
    position: sticky;  
    height: 0px; 
    margin-top: var(--mar-main);
    top: var(--stop-6); 
    z-index: -994;
}
.sgm__6{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
.par__sgm__7{
    position: sticky; 
    height: 0px; 
    margin-top: var(--mar-main);
    top: var(--stop-7); 
    z-index: -993;
}
.sgm__7{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
.par__sgm__8{
    position: sticky; 
    height: 0px; 
    margin-top: var(--mar-main);
    top: var(--stop-8); 
    z-index: -992;
}
.sgm__8{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
.par__sgm__9{
    position: sticky; 
    height: 0px; 
    margin-top: var(--mar-main);
    top: var(--stop-9); 
    z-index: -991;
}
.sgm__9{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
.par__sgm__10{
    position: sticky; 
    height: 0px; 
    margin-top: var(--mar-main);
    top: var(--stop-10); 
    bottom: 2000px;
    z-index: -990;
}
.sgm__10{
    position: absolute;
    object-fit: cover;
    width: var(--vw-100);
    height: var(--vw-25);
}
/*=========================================
======= Header__mob =======================*/
.header{
}
.header__mob{
    position: fixed;
    display: flex;
    justify-content:space-between;
    width: var(--header-widgth);
    height: var(--header-btn-height__mob); 
    margin: var(--header-btn__margin__mob);
    z-index: 2;
    background-color: rgba(126, 126, 126, 0.604);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: var(--header-btn__brdr__rds__mob);
    overflow: hidden;
}
.btn__info__creator{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--header-btn__brdr__rds__mob);
    overflow: hidden;
    width: var(--header-btn-height__mob);
    height: var(--header-btn-height__mob);
    
}
.btn__project__menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    border-radius: var(--header-btn__brdr__rds__mob);
}
.btn__menu__mob{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--header-btn__brdr__rds__mob);
    width: var(--header-btn-height__mob);
    height: var(--header-btn-height__mob);
}
.header__btn__left-and-rigth{
    font-weight: bold;
    font-size: var(--font-size__header__btn);
    line-height: var(--font-size__header__btn);
    font-weight: bold;
}
.btn__info__creator:active{
background-color: #4aa2a249;
}
.btn__project__menu:active{
background-color: #4aa2a249;
}
.btn__menu__mob:active{
background-color: #4aa2a249;
}
/*=========================================
===== Intro__mob ==========================*/
.intro__mob{
    position: relative;
    display: flex;
    flex-direction: column;
    width:var(--vw-100);
    height: var(--stop-7);
}
.intro__name{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--vw-100);
    height: var(--intro-name_menu_heightAndMargin__mob);
    margin: 0px;
    z-index: 3;
    font-size: var(--font-size__h1);
    line-height: var(--tfont-size__h1);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.intro__text__box{
    margin-top: calc(var(--stop-4) - var(--intro-name_menu_heightAndMargin__mob));
    background-color: rgba(255, 255, 255, 0.801);
    height: var(--stop-4);
}
.text__intro__1{
    font-size: var(--font-size__h1);
    line-height: var(--line-height__h1);
    color: var(--main-color);
    margin-left: var(--vw-10);
    margin-right: var(--vw-10);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    
}
.text__intro__2{
    font-size: var(--font-size__default);
    line-height: var(--line-height__default);
    margin-left: var(--vw-10);
    margin-right: var(--vw-10);
    margin-top: var(--font-size__h1);
    margin-bottom: var(--font-size__h1);
}
.text__intro__3{
    font-size: var(--font-size__h1);
    line-height: var(--line-height__h1);
    margin-left: var(--vw-10);
    margin-right: var(--vw-10);
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
/*=========================================
===== Progect__mob ========================*/

.project__nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    background-color: rgba(166, 166, 166, 0);
}
.small__project__box{    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--stop-10);
    margin: 0px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
    overflow: visible;
    
} 
.box__info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--stop-10);
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0);
}
.box__name{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--intro-name_menu_heightAndMargin__mob);
    z-index: 3;
}
.box__name__text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size__h1);
    line-height: var(--line-height__h1);
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.box__description{
    margin: 0;
    margin-top: calc(-1 * var(--intro-name_menu_heightAndMargin__mob));
    padding: var(--vw-10);
    padding-top: calc(var(--intro-name_menu_heightAndMargin__0__mob) + var(--vw-10)); 
    position: relative;
    font-family: Raleway, sans-serif;
    font-size: var(--font-size__default);
    line-height: var(--line-height__default);
    width: var(--vw-100);
    height: var(--stop-5);
    color: var(--main-color);
    background-color: #fff;
  
}
.small__project__box:hover .box__image{
    margin-top: 0px;
}
.small__project__box:hover .img{
opacity: 1;
}
/*==================================================
===== Удалить после завершения работы ==============*/
}
.footer{
}
.footer__text{
}
