/* == Default ===========================================*/
:root {
    /*---RGB*---*/
    --main-color: #000000;
    --background-mask: rgb(204, 204, 204);
    --background-box: rgb(255, 255, 255);
    --border-box: 0px solid rgb(255, 255, 255);
    --border-color: rgb(255, 255, 255);
    /*---Picsel---*/
    --border-radius: 10px;
    --animation-second: 0.5s;
    --small__project__box__size: 260px;
    --small__project__box__size__img__heigth: 230px;
    --margin__default: 20px;
     /*---MOB*---*/
    --border-radius__mob: 5px;
    --animation-second__mob: 0.5s;
    --small__project__box__size__mob: 144px;
    --small__project__box__size__img__heigth__mob: 130px;
    --margin__default__mob:3px;
}
/*--отключение мобильных классов--*/
.adapt__bckg__mob{
    display: flex;
    display: none;
}
.header__mob{
    display: none;
}
.logo__img__mob{
    display: none;
}
.margin__bottom{
    display: none;
}
body{ 
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: var(--main-color);
    margin: 0px;
    display: flex;
    justify-content: center;
}
*{
    box-sizing: border-box;
}
.background__vid{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
}
.vid{
    position: absolute;
    width: 100%;
    object-fit: cover;
}
.container{
    position: relative;
    max-width : 1240px;
    margin: 0 auto;
}
.warning{
    font-size: 20px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
/* == Intro ===========================================*/
.intro{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
}
.intro__1{
   display: none;
}
.intro__1{
    display: none;
}

h1{
    font-size: 20px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 20px;
}
h2{
    font-size: 20px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 100px;
}
/* == Header ===========================================*/
.header{

}
.header__desktop{
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 49px;
    width: 100%;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 5px 40px 5px 40px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    position: relative;
    display: flex;
    align-items: center;
}
.logo__img{
    width: 70px;
    height: 30px;
}

.header__nav{
    display: flex;
    justify-content:space-between;
    height: 39px;
    width: 500px;
    
}
.header__nav__link{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    transition: background-color var(--animation-second);
    border-radius: 10px;
}
.header__nav__link:hover {
    background-color: var(--background-mask);   
}
/* == Progect ===========================================*/

.project__nav{
    display:flex;
    flex-wrap: wrap;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 20px;
    border-radius: var(--border-radius);
}
.small__project__box{
    position: relative;
    width: var(--small__project__box__size);
    height: var(--small__project__box__size);
    margin: var(--margin__default);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.box__image__desktop{
    position: relative;
    width: var(--small__project__box__size);
    height: var(--small__project__box__size__img__heigth);
    transition: margin var(--animation-second) linear;
}
.img__pr_desktop{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s linear;
}
.box__info{
    width: 100%;
    height: 290px;
    background-color: var(--background-mask);
}
.box__name{
    position: relative;
    width: 260px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.box__description{
    margin: 10px;
}
.small__project__box:hover .box__image__desktop{
    
    margin-top: -230px;
}
.small__project__box:hover .img__pr_desktop{
    
opacity: 0;
}

/* == Creater ========================================*/
.creator{
    position:  relative;
    display:flex;
    flex-wrap: wrap;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 20px;
    border-radius: var(--border-radius);
    overflow: hidden;
    
}
.photo{
    position: relative;
    width: 260px;
    height: 260px;
    margin: 20px;
    border-radius: 130px;
    overflow: hidden;

}
.img__creator{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cretor__info{
    position:  relative;
    width: 860px;
    margin: 20px;

}
.cretor__info__text{
    color: var(--main-color);
    font-size: 44px;
    font-family: Raleway, sans-serif;
}
.creator__icongroup{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    height: 78px;
    margin: 4px;
    padding: 4px;
}
.creator__box__icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;  
    border-radius: 42px;
    transition: background-color var(--animation-second);
}
.creator__icon{
    position: relative;
    width: 64px;
    height: 64px;
}
.creator__box__icon:hover {
    background-color: var(--background-mask);
    
    
}
/* == Footer =======================================*/
/* == Для планшетов ================================*/
@media (max-width:1280px) {
    .container{
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }
}
/* == Для мобильных устройств =======================*/
/* --Заметки: 
--Условия:
--Обязательная установка displey: flex; для всех div   
 которые содержат в себе Paralax собранный мной на CSS.
 --*/
@media (max-width:767px) {


/* == Отключение desktop class =======================*/
.adapt__bckg__desktop{
    display: none;
}
.header__desktop{
    display: none;
}
.box__image__desktop{
    display: none;
}
/* == Тело страницы__mob =======================*/
.body{ 
    position: relative;
    width: var(--vw-100);
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: var(--main-color);
    display: flex;
}
.container{
    position: relative;
    width: var(--vw-100);
}
.adapt__bckg__mob{
    display: inline;
    display: flex;
}
/* == Bacground__mob =======================*/
.bckg__pr__1__img__1{
    display: flex; 
}
.bckg__intro__mob{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: -1000;
}
.bckg__intro__img__mob{
    position: absolute;
    width: 100%;
    object-fit: cover;
}

































:root{

    --header-height: calc(0.12 * var(--vw-100));

    --vw-100: 100vw;
    --vw-25_5: calc(0.225 * var(--vw-100));
    --vw-25: calc(0.25 * var(--vw-100));



    --mar-stop: 0px ;/*--расстояние остановки всего изображения паралакса от верха экрана--*/


    --mar-main: var(--stop-10);/*--расстояние от верха экрана до изображения паралакса --*/


    --mar-1: var(--mar-main);
    --mar-2: calc(1 * var(--vw-25_5) + var(--mar-main));
    --mar-3: calc(2 * var(--vw-25_5) + var(--mar-main));
    --mar-4: calc(3 * var(--vw-25_5) + var(--mar-main));
    --mar-5: calc(4 * var(--vw-25_5) + var(--mar-main));
    --mar-6: calc(5 * var(--vw-25_5) + var(--mar-main));
    --mar-7: calc(6 * var(--vw-25_5) + var(--mar-main));
    --mar-8: calc(7 * var(--vw-25_5) + var(--mar-main));
    --mar-9: calc(8 * var(--vw-25_5) + var(--mar-main));
    --mar-10: calc(9 * var(--vw-25_5) + var(--mar-main));
   







    --stop-1: var(--mar-stop);
    --stop-2: calc(1 * var(--vw-25_5) + var(--mar-stop));
    --stop-3: calc(2 * var(--vw-25_5) + var(--mar-stop));
    --stop-4: calc(3 * var(--vw-25_5) + var(--mar-stop));
    --stop-5: calc(4 * var(--vw-25_5) + var(--mar-stop));
    --stop-6: calc(5 * var(--vw-25_5) + var(--mar-stop));
    --stop-7: calc(6 * var(--vw-25_5) + var(--mar-stop));
    --stop-8: calc(7 * var(--vw-25_5) + var(--mar-stop));
    --stop-9: calc(8 * var(--vw-25_5) + var(--mar-stop));
    --stop-10: calc(9 * var(--vw-25_5) + var(--mar-stop));
}




/* == Paralax pr 1__mob =======================*/




.par__sgm__1{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-1); /*--фиксирующая позиция--*/
    z-index: -999;
}
.sgm__1{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}




.par__sgm__2{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-2); /*--фиксирующая позиция--*/
    z-index: -998;
}
.sgm__2{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}




.par__sgm__3{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-3); /*--фиксирующая позиция--*/
    z-index: -997;
}
.sgm__3{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}




.par__sgm__4{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-4); /*--фиксирующая позиция--*/
    z-index: -996;
}
.sgm__4{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}




.par__sgm__5{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-5); /*--фиксирующая позиция--*/
    z-index: -995;
}
.sgm__5{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}




.par__sgm__6{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-6); /*--фиксирующая позиция--*/
    z-index: -994;
}
.sgm__6{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}




.par__sgm__7{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-7); /*--фиксирующая позиция--*/
    z-index: -993;
}
.sgm__7{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}




.par__sgm__8{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-8); /*--фиксирующая позиция--*/
    z-index: -992;
}
.sgm__8{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}




.par__sgm__9{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-9); /*--фиксирующая позиция--*/
    z-index: -991;
}
.sgm__9{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}




.par__sgm__10{
          position: sticky; /*--должна быть установлена в позиции sticky обязательно---*/
          left: 0px; /*--выравнивание по ширине--*/
          width: 0px; /*--выравнивание по ширине--*/
          height: 0px; /*--должна быть определена обязательно---*/
    margin-top: var(--mar-1);
    top: var(--stop-10); /*--фиксирующая позиция--*/
    z-index: -990;
}
.sgm__10{
         position: absolute;
         object-fit: cover;
         width: var(--vw-100);
         height: var(--vw-25);
}










/* == Header__mob =======================*/
.header{
}
.header__mob{
    position: fixed;
    display: flex;
    width: 100%;
       height: var(--header-height); 
    justify-content:space-between;
    padding: 8px;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(100px);
}
.header__name{
    font-weight: bold;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-mask);
    border-radius: 17px;
    overflow: hidden;
    width: 30%;
    height: 34px;
}
.project__menu{
    color: var(--main-color);
    width: 30%;    
}
.logo__img__mob{
    width: 60px;
    height: 14px;
}
.project__menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-mask);
    border-radius: 17px;
    width: 30%;
    height: 34px;
}
.btn__menu__mob{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-mask);
    border-radius: 17px;
    width: 30%;
    height: 34px;
}
/* == Intro__mob =======================*/
.intro__1{
    position: relative;
    display: flex;
    flex-direction: column;
    width:var(--vw-100);
    height: var(--stop-6);
    margin-top: var(--stop-5);
    background-color: rgba(255, 255, 255, 0.801);
    padding: 6% 12% 12% 12% ;
}
.text__intro__1{
    font-size: 25px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 35px;
}
/* == Progect MOB =====================================*/
.project__nav{
    position: relative;
    width: 100%;
    padding: 0px;
    background-color: rgba(166, 166, 166, 0);
}
.small__project__box{    
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
} 
.box__info{
    position: relative;
    width: 100%;
    height: 1900px;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0);
}
.box__name{
    position: relative;
    width: 100%;
    height: var(--vw-25_5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(100px);
}
.box__name__text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 30px;
    color: var(--background-mask);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.box__description{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    width: var(--vw-100);
    color: var(--background-mask);
    margin: var(--stop-6) 0 0 0;/*------*/
    padding: 20px 20px 20px 20px;
    height: var(--stop-3);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(100px);
}
.margin__bottom{
    Display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: var(--vw-100);
    color: rgb(255, 0, 0);
    margin: var(--stop-3) 0 0 0;/*------*/
    background-color: rgb(165, 165, 165);
    padding: 20px 20px 20px 20px;
    height: var(--stop-1);
}
.small__project__box:hover .box__image{
    margin-top: 0px;
}
.small__project__box:hover .img{
opacity: 1;
}
/* == Удалить после зпаершения работы =======================*/
.warning{
    display: none;
    position: fixed;
    width: 100%;
    height: auto;
    font-size: 12px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 48px auto 0 auto;
}
}
.footer{
}
.footer__text{
}
